.footer-details {
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: min-content repeat(2, 1fr);
    grid-gap: 5rem;

    @include respond(phone) {
        grid-template-columns: 1fr;
    }

    &__box {
        & > p {
            margin: .5rem 0;
        }
    }

    & > h5 {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
}