.header {
    grid-column: left-space-start / right-space-end;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $primary-color-white;
    box-shadow: 0 .3rem .5rem -.2rem rgba(0, 0, 0, .1);

    font-size: $primary-font-size-norm;

    padding: 1.4rem 2.4rem;

    &__logo {
        display: flex;
        margin-right: auto;
        align-items: center;

        &--img {
            height: 4.159rem;
            width: 15.98rem;
            margin-right: 2rem;
            transform: scale(1.2);
            margin-left: 1rem
        }
    }

    &__menu {
        margin-left: auto;
        transition: .2s ease-in-out all;

        position: relative;
        z-index: 9999999;

        @include respond(tab-port) {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0;
            z-index: -1;
            transform: translateY(-150%);
            padding-top: 10rem;
            background-color: $primary-color-white;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        position: relative;
        // z-index: 10;

        @include respond(tab-port) {
            box-shadow: 0 .3rem .5rem -.2rem rgba(0, 0, 0, .5);
            padding-bottom: 4rem;
        }


        &__item {
            &:not(:last-child) {
                margin: 0 4.7rem;

                @include respond(tab-land-bg) {
                    margin: 0 3rem;
                }

                @include respond(tab-land-md) {
                    margin: 0 2.1rem;
                }

                @include respond(tab-port) {
                    margin-bottom: 3rem;
                }
            }

        }

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__link {
            text-decoration: none;
            color: $primary-color-blue;
            font-size: $primary-font-size-norm;
            font-weight: $regular-font-weight;
            transition: .2s ease-in-out all;

            &:hover {
                font-weight: $medium-font-weight;
            }
        }
    }
}