.header {
    grid-column: left-space-start / right-space-end;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    font-size: $primary-font-size-norm;

    padding: 1.4rem 2.4rem;

    &__logo {
        display: flex;
        margin-right: auto;

        &--img {
            height: 5.6rem;
            margin-right: 2rem;
        }
    }

    &__title {
        color: $primary-color-blue;
        align-self: flex-end;

        font-size: $section-headings-sm;
    
        @include respond(tab-port) {
            font-size: $primary-font-size-norm;
        }
    }

    &__menu {
        margin-left: auto;
        transition: .2s ease-in-out all;

        @include respond(tab-port) {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0;
            z-index: -1;
            transform: translateY(-150%);
            padding-bottom: 2rem;
            padding-top: 2rem;
            background-color: $primary-color-white;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;

        &__item {
            &:not(:last-child) {
                margin: 0 4.7rem;

                @include respond(tab-land-bg) {
                    margin: 0 3rem;
                }

                @include respond(tab-land-md) {
                    margin: 0 2.5rem;
                }

                @include respond(tab-port) {
                    margin-bottom: 3rem;
                }
            }

        }

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__link {
            text-decoration: none;
            color: $primary-color-blue;
            font-size: $primary-font-size-norm;
            font-weight: $regular-font-weight;
        }
    }
}