//Font: 
$primary-font-size-bg: 1.8rem;
$primary-font-size-norm: 1.6rem;
$primary-font-size-sm: 1.4rem;
$primary-font-size-smallest: 1.2rem;

$section-headings-hg: 4.8rem;
$section-headings-lg: 4rem;
$section-headings-md: 3.2rem;
$section-headings-nm: 2.4rem;
$section-headings-sm: 2rem;

//COLORS: 
$primary-color-blue: #00577C;
$primary-color-green: #2C9D78;
$primary-color-white: #FFFFFF;
$primary-color-grey: #FCFCFC;

$card-bg: #FCFCFC;

//Weight
$regular-font-weight: 400;
$medium-font-weight: 500;
$semibold-font-weight: 600;
$bold-font-weight: 700;

