.atractions {
    margin-top: 5.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
        flex-direction: column;
    }

    &-list {
        font-size: $primary-font-size-norm;
        font-weight: 500;
        color: $primary-color-blue;

        &__item {
            &:not(:last-child) {
                margin-bottom: 1.8rem;
            }
        }
    }

    & > img {
        width: 50%;

        @include respond(tab-port) {
            width: 45%;
            align-self: flex-end;
        }
        
        @include respond(phone) {
            margin-top: 5rem;

            width: 60%;
            align-self: center;
        }
    }
}