.atractions {
    margin-top: 5.6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
        flex-direction: column;
        margin-top: 2rem;
    }

    &-list {
        color: $primary-color-blue;

        &__item {
            &:not(:last-child) {
                margin-bottom: 1.8rem;
                
                @include respond(phone) {
                    margin-bottom: 1.5rem;
                }
            }
        }

        @include respond(phone) {
            padding-left: 2rem;
            padding-right: 0.6rem;
        }
    }

    & > img {
        margin-left: 10.8rem;
        max-width: 50rem;
        max-height: 38.9rem;

        @include respond(tab-land) {
            width: 50%;
        }

        @include respond(tab-port) {
            max-width: 27.9rem;
            max-height: 21.7rem;
            align-self: center;
        }
        
        @include respond(phone) {
            margin-top: 5rem;
            align-self: center;

            width: 27.9rem;
            height: 21.7rem;
            padding-left: 2rem;
            padding-right: 0.6rem;
            margin-left: 0;
        }
    }
}