.cookies-bar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;

    transition: .2s ease-in-out all;

    &__button {
        cursor: pointer;
        outline: none;

        border-radius: 1.5rem;
        border: 1px solid #00577C;
        color: #00577C;
        font-weight: 100;
        text-align: center;
        width: 10rem;
        height: 3rem;
        margin-left: 1.4rem;
        transition: .2s ease-in-out all;

        &:hover{
            background-color: #00577C;
            color: #fff;
        }
    }
}