.cookies-bar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;

    transition: .2s ease-in-out all;

    box-shadow: 0 -0.3rem 0.5rem -0.2rem rgba(0, 0, 0, 0.1);

    @include respond(tab-port) {
        height: auto;
        padding: 1.5rem 3rem;
        text-align: center;
        flex-direction: column;
    }

    &__button {
        cursor: pointer;
        outline: none;
        background-color: #fff;
        border-radius: 1.5rem;
        border: 1px solid #00577C;
        color: #00577C;
        font-weight: 100;
        text-align: center;
        width: 10rem;
        height: 3rem;
        margin-left: 1.4rem;
        transition: .2s ease-in-out all;

        &:hover{
            background-color: #00577C;
            color: #fff;
        }

        @include respond(tab-port) {
            margin-top: 1rem;
        }
    }
}