.offers-headings {
    display: flex;
    justify-content: center;

    grid-column: 1 / -1;
    grid-row: 1 / 2;

    &>p:first-child {
        margin-right: 13rem;
    }
}

.offers-details {
    // box-shadow: .1rem .4rem .8rem rgba(0, 0, 0, .1);
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    margin-top: 13rem;

    background-color: $primary-color-grey;
    padding: 2rem 5rem;

    &__list {
        &__item {
            font-size: $primary-font-size-norm;
            color: $primary-color-blue;
            font-weight: 300;
            margin: 2.4rem 0;
        }
    }
}

.offers-cards {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    margin-top: 3.4rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__card {
        background-color: $primary-color-green;
        padding: 5rem;

        height: 50rem;

        display: grid;
        grid-template-columns: repeat(2, 20rem);
        grid-template-rows: 0.8fr min-content;

        border-radius: 2rem;

        & > h3 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            align-self: end;
        }

        & > img {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            align-self: end;
            justify-self: center;
        }

        & > p {
            margin-top: 2.3rem;

            grid-column: 1 / 3;
            grid-row: 2 / 3;

            align-self: center;
        }

        &:first-child {
            margin-right: 4rem;
        }
    }
}

.offers-footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;

    margin-top: 5.6rem;

    justify-self: center;
    text-align: center;
}