*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-weight: 300;
    line-height: 1.6;

    display: grid;
    grid-template-rows: min-content 100vh min-content min-content min-content min-content min-content min-content;
    grid-template-columns: [left-space-start] minmax(10.4rem, 1fr) [left-space-end center-start] repeat(10, minmax(min-content, 12rem)) [center-end right-space-start] minmax(10.4rem, 1fr) [ right-space-end];

    @include respond(phone) {
        grid-template-rows: min-content 50vh min-content min-content min-content min-content min-content min-content min-content;
    }

    @include respond(tab-port) {
        section {
            &:not(:first-child),
            &:not(:last-child) {
                padding: 0 3.75rem;
            }
        }
    }
}