.heading {
    color: $primary-color-white;
    text-shadow: 0 .2rem .4rem #000;

    &-h1 {
        font-size: $section-headings-hg;

        @include respond(tab-port) {
            font-size: $section-headings-lg;
        }

        @include respond(phone) {
            font-size: $section-headings-md;
        }
    }

    &-h2 {
        font-size: $section-headings-lg;


        @include respond(tab-port) {
            font-size: $section-headings-md;
        }

        @include respond(phone) {
            font-size: $section-headings-nm;
        }
    }

    &-h3 {
        font-size: $section-headings-nm;

        @include respond(tab-port) {
            font-size: $section-headings-sm;
        }
    }

    &-h4 {
        font-size: $section-headings-sm;

        @include respond(tab-port) {
            font-size: $primary-font-size-norm;
        }
    }

    &-h5 {
        font-size: $section-headings-md;
    }

    &-blue {
        color: $primary-color-blue !important;
        text-shadow: none !important;
    }

    &-white {
        color: $primary-color-white !important;
        text-shadow: none !important;
    }
}

.lightweight {
    font-weight: 400;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.paragraph {
    color: $primary-color-blue;
    font-size: $primary-font-size-norm;
    font-weight: $regular-font-weight;

    @include respond(tab-port) {
        font-size: $primary-font-size-sm;
    }

    &--small {
        font-size: $primary-font-size-sm !important;
    }

    &--footer--link {
        &:hover {
            cursor: pointer;
            font-weight: $medium-font-weight;
            text-decoration: underline;
        }
    }

    &--link {
        text-decoration: none;
        font-size: $primary-font-size-norm;
        font-weight: $semibold-font-weight;
        color: $primary-color-blue;

        @include respond(phone) {
            font-size: $primary-font-size-sm;
            font-weight: $semibold-font-weight;
        }

        &:hover {
            color: rgba(0, 87, 124, 0.52);
            text-decoration: underline;
        }
    }

    &--white {
        color: $primary-color-white !important;
    }

    &--underlined {
        border-bottom: .4rem solid $primary-color-blue;
        cursor: pointer;
    }
}

.weight {
    &--bold {
        font-weight: 700;
    }

    &--medium {
        font-weight: 500;
    }

    &--semibold {
        font-weight: 600;
    }

    &--semi {
        font-weight: 300;
    }
}