.section-start {
    grid-column: left-space-start / right-space-end;
    grid-row: 2 / 3;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;

        background-image: url('../assets/img/start-secton-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;

        filter: brightness(0.70);
    }

    &__box {
        & > h4 {
            margin: 3.8rem 0 4.9rem; 
            max-width: 72.7rem;
        }
        
        @include respond(tab-port) {
            width: 100%;
        }
    }

    @include respond(phone) {
        &__box {
           width: 100%;
        }

        &__box {
            &>h4,
            a {
                display: none;
            }
        }

        &__box {
            &>h1 {
                transform: translateY(7rem);
            }
        }
    }

    &--mobile {
        display: none;

        @include respond(phone) {
            margin-top: 5rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            grid-column: left-space-start / right-space-end;
            grid-row: 3 / 4;
        }
    }
}

.section-about-us {
    margin-top: 12rem;

    grid-column: center-start / center-end;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__paragraph {
        width: 100%;
        max-width: 77.2rem;
        @include respond(tab-port) {
            max-width: 63.12rem;
        }
    }

    .paragraph--box {
        text-align: center;
        min-width: 60rem;
    }

    @include respond(phone) {
        margin-top: 6.1rem;

        grid-column: left-space-start / right-space-end;
        grid-row: 4 / 5;
    }
}

.section-offer {
    margin-top: 10rem;

    grid-column: center-start / center-end;
    grid-row: 4 / 5;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);

    @include respond(tab-port) {
        grid-column: left-space-start / right-space-end;
    }

    @include respond(phone) {
        margin-top: 7.1rem;
        grid-column: left-space-start / right-space-end;
        grid-row: 5 / 6;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        justify-items: center;
        justify-content: center;
    }

    &>img {
        @include respond(tab-port) {
            width: 60%;
        }
    }
}

.section-offer-types {
    margin-top: 12rem;

    grid-column: center-start / center-end;
    grid-row: 5 / 6;

    @include respond(tab-port) {
        grid-column: left-space-start / right-space-end;
    }

    @include respond(phone) {
        margin-top: 6.3rem;
        grid-column: left-space-start / right-space-end;
        grid-row: 6 / 7;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);

    @include respond(phone) {
        justify-content: center;
        justify-items: center;
    }
}

.section-gallery {
    margin: 9.4rem 10.4rem 0;
    
    grid-column: left-space-start / right-space-end;
    grid-row: 6 / 7;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 !important;

    @include respond(tab-port-lg) {
        margin: 9.4rem 0 0;
    }

    @include respond(phone) {
        grid-row: 7 / 8;
    }

    & > h5 {
        @include respond(phone) {
            font-size: $primary-font-size-norm;
            margin-bottom: 1.6rem;
        }
    }
}

.section-atractions {
    display: flex;
    flex-direction: column;

    margin-top: 10rem;

    grid-column: center-start / center-end;
    grid-row: 7 / 8;

    @include respond(phone) {
        margin-top: 6rem;
        
        grid-column: left-space-start / right-space-end;
        grid-row: 8 / 9;

        align-items: center;
    }

    & > p {
        align-self: center;
        margin-top: 4.6rem;
        width: 100%;
        max-width: 79.5rem;
    }

    &>h4 {
        margin-top: 8rem;
        margin-left: 6rem;

        @include respond(phone) {
            margin-left: 0rem; 
            text-align: center;
        }
    }
}

.footer {
    margin-top: 13rem;
    height: 100%;
    width: 100%;
    padding: 6rem 8rem 13rem 8rem;

    grid-column: left-space-start / right-space-end;
    grid-row: 8 / 9;
    background-color: $primary-color-green;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    @include respond(tab-port) {
        flex-direction: column;
    }

    @include respond(phone) {
        grid-column: left-space-start / right-space-end;
        grid-row: 9 / 10;

        padding: 0 5rem;
        margin-top: 3.7rem;
    }
}