.section-start {
    grid-column: left-space-start / right-space-end;
    grid-row: 2 / 3;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;

        background-image: url('../assets/img/start-secton-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;

        filter: brightness(0.70);
    }
}

.section-about-us {
    margin-top: 12rem;

    grid-column: center-start / center-end;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
    align-items: center;

    .paragraph--box {
        text-align: center;
        min-width: 60rem;
    }
}

.section-offer {
    margin-top: 10rem;

    grid-column: center-start / center-end;
    grid-row: 4 / 5;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);

    @include respond(tab-port) {
        grid-column: left-space-start / right-space-end;
    }

    & > img {
        @include respond(tab-port) {
            width: 60%;
        }
    }
}

.section-offer-types {
    margin-top: 12rem;

    grid-column: center-start / center-end;
    grid-row: 5 / 6;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);
}

.section-gallery {
    margin-top: 9.4rem;

    grid-column: center-start / center-end;
    grid-row: 6 / 7;
}

.section-atractions {
    margin-top: 10rem;

    grid-column: center-start / center-end;
    grid-row: 7 / 8;

    & > h4 {
        margin-top: 8rem;
    }
}

.footer {
    margin-top: 13rem;
    height: 100%;
    width: 100%;
    padding: 6rem 8rem 13rem 8rem;

    grid-column: left-space-start / right-space-end;
    grid-row: 8 / 9;
    background-color: $primary-color-green;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
        flex-direction: column;
    }
}